__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
*.env/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.pytest_cache/
*.log
*.coverage
.coverage.*
nosetests.xml
test-results.xml
*.bak
.env
*.env
.env.*.local
*.db
*.sqlite3
*.sql
*.swp
*~
.docker/
docker-compose.override.yml
docker-compose.override.*.yml
.dockerignore
.DS_Store
__MACOSX/
Thumbs.db
alembic/versions/
alembic.ini
redis/
tests/__pycache__/
tests/test_*.py
build/
dist/
*.egg-info/
*.idea/
*.key
*.pem
